<h1>Editing Proyecto</h1>

<%= render 'form', proyecto: @proyecto %>

<%= link_to 'Show', @proyecto, :class => "btn btn-warning" %> |
<%= link_to 'Back', proyectos_path, :class => "btn btn-warning" %>
