<h1>Editing Departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Mostrar', @departamento, :class => "btn btn-warning" %> |
<%= link_to 'Atrás', departamentos_path, :class => "btn btn-warning" %>
