<%= content_for :head do %>
	<title>Nosotros</title>
<% end %>

<%= content_for :intro do %>
	<h3>Acerca de Nosotros</h3>
<% end %>

<div class="row">
    <div class="col-6" align="justify">
    	<br>
		<div class="gdlr-core-text-box-item-content" style="font-size: 16px;">
		<h5>HOME AGENCY</h5>
		<p>Somos una empresa Constructora y Estudio de Arquitectura dedicada al Diseño, Supervisión y Construcción de soluciones personales y exclusivas , especializada en los sectores:</p>
		<ul>
		<li>Comerciales</li>
		<li>Corporativos</li>
		<li>Residenciales</li>
		</ul>
		<p>Contamos con un equipo joven y entusiasta de arquitectos , ingenieros , interioristas para cumplir con nuestros objetivos de lograr la completa satisfacción de nuestros clientes realizando diseños y proyectos vanguardistas, ejecutando las obras de ingeniería y arquitectura eficazmente con un alto control de calidad y seguridad adaptándose a los presupuestos de nuestros clientes.</p>
		<p>Nuestro compromiso trasciende la construcción de los espacios; construimos sueños, alegrías, entornos, de una manera transparente, exigente y planeada, para generar nuevas y mejores expresiones.</p>
		<p><strong>Misión</strong></p>
		<p>Somos una empresa de servicios de construcción responsable económica, social y ambientalmente, que ofrece confianza, rentabilidad y desarrollo a sus empleados, clientes y aliados. Generamos proyectos innovadores que nos ayudan en la competitividad y sostenibilidad.</p>
		</div>
	</div>
	<div class="col-6">
		<img src="https://www.bbva.com/wp-content/uploads/2015/12/Situacion-inmobiliaria.jpg" alt="Primer Slide" class="img-responsive" width="100%" height="400">		
	</div>
</div>



