<%= content_for :head do %>
	<title>Nosotros</title>
<% end %>

<%= content_for :intro do %>
	<h3>Acerca de Nosotros</h3>
<% end %>

<div class="row">
    <div class="col-6">
		<h5>
			Somos una empresa con más de 50 años de experiencia en el negocio inmobiliario. Actualmente contamos con los negocios Habilitación Urbana y Vivienda Social, Estacionamientos, Departamentos y Hoteles. Siempre comprometidos a seguir mejorando la vida de los peruanos.
		</h5>
	</div>
	<div class="col-6">
		<img src="https://i.ibb.co/wKFVY5b/depa1.jpg" alt="Primer Slide" class="img-responsive" width="100%" height="250">		
	</div>
</div>



