<hr>
<div class="p-3 mb-2 bg-light text-black" align="center">

	<h6>Pie de pagina</h6>
	<strong>Dirección:</strong>
	<p>Calle los alcanfores 1245, Miraflores</p>
	<strong>Teléfono:</strong>
	<p>(01)5170845</p>

</div>


